@media screen and (max-width:768px)
{
    .app {
        overflow-x: hidden;
    }
    .tablet-d-none {
        display:none !important;
    }
    .tablet-d-block {
        display:block !important;
    }
    /* Menu */
    input[id="menu-bars"]:checked ~ .tablet-menu {
        height:230px;
    }
    .tablet-menu {
        width:100%;
        height:0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition-property: height;
        transition-duration: 0.3s;
        transition-timing-function: linear;
        overflow-y: hidden;
    }
    .tablet-list {
        padding:0;
        margin:0;
        list-style: none;
    }
    .tablet-list-items {
        text-align: center;
    }
    .tablet-list-links {
        display:block;
        margin:24px 0;
        font-size:12px;
        font-weight:600;
    }
    .nav-search {
        text-align: center;
        margin-left:40px;
        box-shadow: 0 2px 1px #f9f9f9;
    }
    .nav-search-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .serve-box{
        width:unset;
        display:flex;
        justify-content: space-between;
        padding:0 30px;
    }
    .serve-boxes {
        margin-right: unset;
        width:200px;
    }
    .content-content{
        margin-left:unset;
        margin-top:80px;
    }
    .content-img {
        width:100%;
    }
    .content-img img{
        width:100%;
        object-fit: contain;
        object-position: center;
    }
    .header-slider-right img {
        width:100%;
        object-fit: contain;
        object-position: center;
    }
    .tablet-menu-button {
        padding:6px 12px;
        border:1px solid #ececec;
    }
    .header-slider {
        margin-top:60px;
    }
    .header-title {
        font-size:32px;
    }
    .header-title span {
        font-size:38px;
    }
    .header-description {
        margin-top:30px;
        color:#757875;
    }
    .header-buttons {
        margin-top:60px;
    }
    /* footer */
    .footer-description {
        width:100%;
        text-align: center;
        font-size:14px;
    }
    .footer-title{
        margin-top:60px;
    }
    .footer-title,.footer-menu  {
        text-align: center;
    }
    .footer-logo {
        text-align: center;
    }
    .footer-menu-links {
        margin:24px 0;
    }
    .footer-bottom {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:540px)
{
    .mobile-d-none {
        display:none;
    }
    .mobile-d-block {
        display:block;
    } 
    .serve-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .serve-boxes-wrapper {
        width:64%;
        margin:12px 0;
    }
    .serve-boxes {
        width:100%;
    }
    .serve-description {
        font-size:24px;
    }
    .content-content {
        text-align: center;
    }
    .content-title {
        font-size:30px;
    }
    .content-description {
        font-size:16px;
    }
}

@media screen and (max-width:1024px) {
    /* .app {
        overflow-x: hidden;
    } */
    .header-slider-right img {
        width:100%;
        object-fit: contain;
        object-position: center;
    }
    .serve-boxes {
        margin-right:20px;
    }
    /* content */
    .content-img {
        width:100%;
    }
    .content-img img{
        width:100%;
        object-fit: contain;
        object-position: center;
    }
    .content-img {
        height:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content-wrapper {
        margin-top:60px;
    }
    .content-content {
        margin-top:100px;
    }
    .content-title {
        font-size:26px;
    }
    
}

 