@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  overflow-x: hidden;
}

button, a {
  text-decoration: none;
  outline: none;
  border: none;
  display: block;
}

a.active {
  color: #5f0099;
}

.white {
  color: white;
}

.black {
  color: black !important;
}

.bg-white {
  background-color: white !important;
}

ul, ol {
  list-style: none;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.slideUp {
  animation: slideUp ease-in-out 0.7s forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.coating {
  background: linear-gradient(to left, #7a60ff, #cd9ffa);
  padding: 100px 0px;
  position: relative;
}

.content__info {
  text-align: center;
}

.content__info-title {
  font-size: 30px;
  position: relative;
  display: inline-block;
  padding: 12px 40px;
  border-bottom: 2px dashed #7b61ff;
}

.content__info-title::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  text-align: center;
  border-bottom: 2px dashed #7b61ff;
  background-color: #7b61ff;
}

.content__info-description {
  margin-top: 30px;
  font-size: 18px;
  color: #818992;
  width: 60%;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

.banner__iphone-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__info-title {
  font-size: 2rem;
  color: white;
  margin-top: 40px;
}

.banner__info-desciprtion {
  font-size: 16px;
  font-weight: 500;
  margin-top: 6px;
  color: white;
}

.banner__info-desciprtion span {
  border-bottom: 1px solid #fff;
  display: inline-block;
}

.banner__info-content {
  margin-top: 20px;
  font-size: 14px;
  color: white;
  margin-top: 20px;
}

.banner__info-dowload {
  display: flex;
  margin-top: 40px;
}

.banner__dowload-img {
  margin-right: 16px;
  width: 160px;
}

.banner__dowload-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.banner__wave {
  position: absolute;
  bottom: 0px;
  left: 0;
}

.about {
  margin-top: 60px;
}
.about .about-wrapper {
  margin-top: 40px;
}
.about .about-wrapper .about__boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .about-wrapper .about__boxes-icon {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  background: linear-gradient(to right, #c297fb, #7b61ff);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.about .about-wrapper .about__boxes-icon i {
  font-size: 40px;
  color: #fff;
}
.about .about-wrapper .about__boxes-title {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 600;
}
.about .about-wrapper .about__boxes-description {
  margin-top: 20px;
  font-size: 14px;
  color: #818992;
  text-align: center;
  line-height: 1.6;
  width: 80%;
}
.about .about-wrapper .about__learnmore {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-top: 60px;
  font-size: 22px;
}
.about .about-wrapper .about__learnmore span {
  display: inline-block;
  color: #7b61ff;
  padding: 10px 40px;
  border: 2px solid #7b61ff;
  border-radius: 12px;
}
.about .about-wrapper .about__learnmore span:hover {
  background-color: #7b61ff;
  color: #fff;
}

.features .features-content {
  width: 100%;
  margin-top: 60px;
}
.features .features-content .features__box-items {
  display: flex;
  margin-bottom: 60px;
}
.features .features-content .features__box-items .features__box-left .features__box-title {
  color: #fff;
  font-size: 18px;
}
.features .features-content .features__box-items .features__box-left .features__box-description {
  margin-top: 16px;
  color: #fff;
}
.features .features-content .features__box-items .features__box-right {
  margin: 0 16px;
}
.features .features-content .features__box-items .features__box-right .features-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #8e1efc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features .features-content .features__box-items .features__box-right .features-icon i {
  color: #8e1efc;
  font-size: 18px;
}
.features .features-content .features-img {
  text-align: center;
}
.features .features-content .features__box-move {
  display: flex;
  flex-direction: row-reverse;
}

.ourteam {
  margin-top: 60px;
}
.ourteam .ourteam-wrapper {
  width: 100%;
  margin-top: 100px;
}
.ourteam .ourteam-wrapper .ourteam__info-img {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.ourteam .ourteam-wrapper .ourteam__info-img img {
  width: 100%;
  object-fit: center;
}
.ourteam .ourteam-wrapper .ourteam__info-name {
  margin-top: 18px;
  color: #7b61ff;
}
.ourteam .ourteam-wrapper .ourteam__info-description {
  font-size: 16px;
}

.slider {
  position: relative;
  margin-top: 60px;
}
.slider .swiper {
  max-width: 700px;
  border-radius: 16px;
}
.slider .swiper .slide__content {
  display: flex;
  background-color: #ede7fe;
  align-items: center;
  padding: 16px 30px;
}
.slider .swiper .slide__content .slide__content-img img {
  width: 120px;
  border-radius: 50%;
  border: 14px solid white;
  object-fit: cover;
  object-position: center;
}
.slider .swiper .slide__content .slide__content-info {
  margin-left: 30px;
}
.slider .swiper .slide__content .slide__content-info .slide__content-title {
  font-size: 26px;
}
.slider .swiper .slide__content .slide__content-info .slide__content-description {
  font-size: 18px;
  color: #63646e;
}
.slider .swiper .slide__content .slide__content-info .slide__content-text {
  margin-top: 30px;
  color: #63646e;
  font-size: 16px;
  margin-bottom: 20px;
}
.slider .swiper-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
}
.slider .swiper-button i {
  color: white;
  font-size: 18px;
}
.slider .swiper-button::after {
  display: none;
}

.contact {
  margin-top: 60px;
}
.contact .contact-wrapper {
  margin-top: 40px;
  width: 100%;
}
.contact .contact-wrapper .contact__form .contact__form-name {
  display: flex;
  justify-content: space-between;
}
.contact .contact-wrapper .contact__form .contact__form-name .form-name, .contact .contact-wrapper .contact__form .contact__form-name .form-email {
  width: 48%;
}
.contact .contact-wrapper .contact__form .contact__form-name .form-email {
  margin-left: 4px;
}
.contact .contact-wrapper .contact__form .form-input {
  outline: none;
  border: 1px solid #ccc;
  margin: 8px 0;
  height: 40px;
  padding: 12px;
  border-radius: 99px;
  font-size: 16px;
}
.contact .contact-wrapper .contact__form .form-subject {
  width: 100%;
}
.contact .contact-wrapper .contact__form .contact-message {
  width: 100%;
  height: 140px;
  margin-top: 8px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 12px 16px;
  color: #818992;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
.contact .contact-wrapper .contact__form .contact-submit {
  width: 100%;
  height: 50px;
  margin-top: 12px;
  border-radius: 99px;
  outline: none;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  background: linear-gradient(to right, #c89bfa, #8166ff);
  cursor: pointer;
}
.contact .contact-wrapper .contact__info {
  padding: 30px 40px;
  background: linear-gradient(to right, #c79bfb, #8064fe);
  border-radius: 16px;
}
.contact .contact-wrapper .contact__info .contact__info-boxes {
  display: flex;
  margin: 18px 0;
}
.contact .contact-wrapper .contact__info .contact__info-boxes .contact__info-icon {
  font-size: 20px;
}
.contact .contact-wrapper .contact__info .contact__info-boxes .contact__info-text {
  margin-left: 20px;
  font-size: 16px;
  text-transform: uppercase;
}

.dowload__app {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.dowload__app .dowload__app-img {
  width: 160px;
  height: auto;
  margin: 0 12px;
}
.dowload__app .dowload__app-img img {
  width: 100%;
  border-radius: 12px;
}

footer {
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-weight: 400;
  background-color: #fff;
}
footer span {
  color: #7b61ff;
  cursor: pointer;
}
footer span:hover {
  text-decoration: underline;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  box-shadow: 1px 2px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  background-color: transparent;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  height: 60px;
}

.nav__menu {
  list-style: none;
  display: flex;
}

.nav__menu-links {
  font-size: 13px;
  font-weight: 600;
  padding: 0 12px;
  color: #fff;
  transition: 0.3s;
}

.nav__menu-links:hover {
  color: #6912a8;
}

@media screen and (max-width: 1024px) {
  :root {
    --container-width: 710px;
    --column-space:20px;
    --container-padding:0;
  }
  .container {
    max-width: var(--container-width);
    margin-inline: auto;
    padding: 0 var(--container-padding);
  }
  .tablet-d-block {
    display: block;
  }
  .tablet-d-none {
    display: none;
  }
  header {
    box-shadow: unset;
  }
  .nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
  }
  .nav .tablet__menu-btn {
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    display: block;
  }
  .nav .tablet__menu {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 0;
    transition: 0.4s;
    overflow-y: hidden;
  }
  .nav .tablet__menu-items {
    text-align: center;
  }
  .nav .tablet__menu-links {
    font-size: 14px;
    width: 100%;
    padding: 10px 0;
    background-color: #d5c6dd;
    color: #fff;
    font-weight: 600;
  }
  .nav .tablet__menu-links:hover {
    color: #7b61ff;
  }
  .nav input[name=tablet__menu-toggle]:checked ~ ul.tablet__menu {
    height: 350px;
  }
}
@media screen and (max-width: 768px) {
  .mobile-d-none {
    display: none;
  }
  .mobile-d-block {
    display: block;
  }
  :root {
    --container-width: 1080px;
    --column-space:20px;
    --container-padding:20px;
  }
  .container {
    max-width: var(--container-width);
    margin-inline: auto;
    padding: 0 var(--container-padding);
  }
  body {
    overflow-x: hidden;
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.1);
  }
}
@media screen and (max-width: 576px) {
  .sm-d-none {
    display: none !important;
  }
  .sm-d-block {
    display: block !important;
  }
}

/*# sourceMappingURL=main.css.map */
