* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
}
body {
    width: 100vw;
    display:flex;
}
.app {
    display: flex;
    justify-content: space-evenly;
    width:80%;
    margin:auto;
    padding:40px 0;
}
.menu {
    list-style: none;
    width:300px;
}
.menu-items {
    text-align: right;
    position: relative;
    margin-bottom:60px;
}
.menu-items::after {
    content:"";
    display: block;
    width:10px;
    height:10px;
    border-radius: 50%;
    background-color: #4aa394;
    position: absolute;
    left:108%;
    top:0;
    border:10px solid rgba(236, 245, 243, 1);
}
.menu-items::before {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    border-radius: 50%;
    background-color: #f6f6f8;
    position: absolute;
    left: 112.4%;
    top: 43px;
}
.menu-items span {
    position: absolute;
    top:4px;
    left:108%;
    display: inline-block;
    font-size:14px;
    font-weight:600;
    width:120px;
    color:#8f8f92;
}
.menu-items-description {
    margin-top:8px;
    color:#8f8f92;
}
.menu-items-button {
    text-decoration: none;
    display: inline-block;
    margin-top: 12px;
    font-size:12px;
    font-weight: 700;
    color:#333;
    padding:8px 12px;
    border-radius: 12px;
    background-color: #f3f3f3;
    transition: 0.3s;
}
.menu-items-button:hover {
    background-color: #a26f5a;
    color:white;
    transition: 0.3s;
}
.winning-awards {
    width: 400px;
    object-fit: contain;
    margin-left: 300px;
    position: relative;
    top: -163px;
}