body {
    font-family: "Poppins", sans-serif;
    font-size:14px;
    overflow-x: hidden;
}
button,a {
    text-decoration: none;
    outline:none;
    border:none;
    display:block;
}
a.active {
    color:#5f0099;
}
.white {
    color:white;
}
.black {
    color: black !important;
}
.bg-white {
    background-color: white !important;
}
ul,ol {
    list-style: none;
}
.d-none {
    display:none;
}
.d-block {
    display:block;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.slideUp {
    animation: slideUp ease-in-out 0.7s forwards;
}
@keyframes slideUp {
    from {
        transform: translateY(200px);
        opacity:0;
    }
    to {
        transform: translateY(0);
        opacity:1;
    }
}
