header {
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index:99;
    box-shadow: 1px 2px rgb(0, 0, 0, 0.1);
    transition:0.3s;
    background-color: transparent;
}
.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 8px;
    height:60px;
}
.nav__menu {
    list-style: none;
    display: flex;
}
.nav__menu-links {
    font-size:13px;
    font-weight:600;
    padding:0 12px;
    color:#fff;
    transition:0.3s;
}
.nav__menu-links:hover {
    color:#6912a8;
}

