@use 'variable' as *;
.banner__iphone-img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner__info-title {
    font-size:2rem;
    color:white;
    margin-top:40px;
}
.banner__info-desciprtion {
    font-size:16px;
    font-weight:500;
    margin-top:6px;
    color:white;
}
.banner__info-desciprtion span {
    border-bottom: 1px solid $white-color;
    display: inline-block;
}
.banner__info-content {
    margin-top:20px;
    font-size:14px;
    color:white;
    margin-top:20px;
}
.banner__info-dowload {
    display: flex;
    margin-top:40px;
}
.banner__dowload-img {
    margin-right:16px;
    width:160px;
}
.banner__dowload-img img {
    width:100%;
    height:auto;
    object-fit: cover;
    object-position: center;
    border-radius:10px;
}
.banner__wave {
    position: absolute;
    bottom:0px;
    left:0;
}
// about
.about {
    margin-top:60px;
    .about-wrapper {
        margin-top:40px;
        .about__boxes {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .about__boxes-icon {
            width:135px;
            height:135px;
            border-radius:50%;
            background: linear-gradient(to right, #c297fb, $primary-color);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }
        .about__boxes-icon i{
            font-size:40px;
            color:$white-color;
        }
        .about__boxes-title {
            margin-top:40px;
            font-size:20px;
            font-weight:600;
        }
        .about__boxes-description {
            margin-top:20px;
            font-size:14px;
            color:$text-color;
            text-align: center;
            line-height:1.6;
            width:80%;
        }
        .about__learnmore {
            display: inline-block;
            text-align: center;
            width:100%;
            margin-top:60px;
            font-size:22px;
           
        }
        .about__learnmore span {
            display: inline-block;
            color:$primary-color;
            padding:10px 40px;
            border:2px solid $primary-color;
            border-radius:12px;
        }
        .about__learnmore span:hover {
            background-color: $primary-color;
            color:$white-color;
        }
    }       
}
// features
.features {
    .features-content {
        width:100%;
        margin-top:60px;
        .features__box-items {
            display: flex;
            margin-bottom:60px;
            .features__box-left {
                .features__box-title {
                    color:$white-color;
                    font-size:18px;
                }
                .features__box-description {
                    margin-top:16px;
                    color:$white-color;
                }
            }
            .features__box-right {
                margin:0 16px;
                .features-icon {
                    width:50px;
                    height:50px;
                    border-radius:50%;
                    border:1px solid #8e1efc;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    i {
                        color:#8e1efc;
                        font-size:18px;
                    }
                }
            }
          
           
        }

        .features-img {
            text-align: center;
        }

        .features__box-move {
            display:flex;
            flex-direction: row-reverse;
        }
    }

}
// ourteam
.ourteam {
    margin-top:60px;
    .ourteam-wrapper {
        width:100%;
        margin-top:100px;
        .ourteam__info-img {
            width:240px;
            height:240px;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            left:50%;
            transform: translateX(-50%);
        }
        .ourteam__info-img img{
            width:100%;
            object-fit: center;
        }
        .ourteam__info-name {
            margin-top:18px;
            color:$primary-color;
        }
        .ourteam__info-description {
            font-size:16px;
        }
    }
}
.slider {
    position:relative;
    margin-top:60px;
    .swiper {
        max-width:700px;
        border-radius:16px;
        .slide__content {
            display: flex;
            background-color:#ede7fe ;
            align-items: center;
            padding:16px 30px;
            .slide__content-img {
                img {
                    width:120px;
                    border-radius:50%;
                    border:14px solid white;
                    object-fit: cover;
                    object-position: center;
                }
                
            } 
            .slide__content-info {
                margin-left:30px;
                .slide__content-title {
                    font-size: 26px;
                }
                .slide__content-description {
                    font-size:18px;
                    color:#63646e;
                }
                .slide__content-text {
                    margin-top:30px;
                    color:#63646e;
                    font-size:16px;
                    margin-bottom:20px;
                }
            }    
        }
    }
    .swiper-button {
        width:40px;
        height:40px;
        border-radius: 50%;
        border:1px solid white;
        i {
            color:white;
            font-size:18px;
        }
    }
    .swiper-button {
        &::after {
            display: none;
        }
    }
}
// contact
.contact {
    margin-top:60px;
    .contact-wrapper {
        margin-top:40px;
        width:100%;
        .contact__form {
            .contact__form-name {
                display:flex;
                justify-content: space-between;
                .form-name, .form-email {
                    width:48%;
                }
                .form-email {
                    margin-left:4px;
                }
            }
            .form-input {
                outline:none;
                border:1px solid #ccc;
                margin:8px 0;
                height:40px;
                padding:12px;
                border-radius:99px;
                font-size:16px;
            }
            .form-subject {
                width:100%;
            }
            .contact-message {
                width:100%;
                height:140px;
                margin-top:8px;
                resize: none;
                border:1px solid #ccc;
                border-radius:30px;
                padding:12px 16px;
                color:$text-color;
                font-family: "Poppins", sans-serif;
                font-size:14px;
            }
            .contact-submit {
                width:100%;
                height:50px;
                margin-top:12px;
                border-radius:99px;
                outline:none;
                border:none;
                color:$white-color;
                font-weight:500;
                font-size:14px;
                background: linear-gradient(to right,#c89bfa,#8166ff);
                cursor: pointer;
            }
        }
        .contact__info {
            padding:30px 40px;
            background:linear-gradient(to right,#c79bfb,#8064fe);
            border-radius:16px;
            .contact__info-boxes {
                display: flex;
                margin:18px 0;
                .contact__info-icon {
                    font-size:20px;
                }
                .contact__info-text {
                    margin-left:20px;
                    font-size:16px;
                    text-transform: uppercase;
                }
            }
        }
    }
}
//dowload
.dowload__app {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:60px;
    .dowload__app-img {
        width:160px;
        height:auto;
        margin:0 12px;
        img {
            width:100%;
            border-radius:12px;
            
        }
    }
}
footer {
    text-align: center;
    height:40px;
    line-height:40px;
    font-size:14px;
    font-weight:400;
    background-color: $white-color;
    span {
        color:$primary-color;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}

